<!--templates/about.html-->

{% extends "base.html" %}
{% block bodyclass %}page-about{% endblock %}
{% block content %}
<section>
    <div class="container">
        <h2>О компании Artnova</h2>
        <p>Artnova — команда профессиональных дизайнеров интерьера. Мы создаём 3D-дизайн квартир, домов и коммерческих помещений под любые задачи, стили и бюджеты. Работаем с индивидуальным подходом, любим детали и современные решения.</p>
        <p>Наша миссия — создавать для клиентов красивые, функциональные и гармоничные пространства.</p>
    </div>
</section>
{% endblock %}


