<!--templates/contacts.html-->

{% extends "base.html" %}
{% block content %}
<section class="contact-section">
    <div class="container">
        <h2>Контакты</h2>
        <p>Свяжитесь с нами любым удобным способом:</p>
        <div class="contact-options">
            <a href="https://wa.me/996XXXXXXXXX" target="_blank" class="contact-link">
                WhatsApp: +996 XXX XXX XXX
            </a>
            <a href="mailto:info@artnova.kg" class="contact-link">
                Email: info@artnova.kg
            </a>
            <a href="https://www.instagram.com/artnova.kg" target="_blank" class="contact-link">
                Instagram: @artnova.kg
            </a>
            <a href="https://www.facebook.com/artnova.kg" target="_blank" class="contact-link">
                Facebook: Artnova.kg
            </a>
        </div>
    </div>
</section>
{% endblock %}
