<!--templates/product_info.html-->
{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
    <h2>Информация о товаре</h2>
    <p><strong>Название:</strong> {{ product.name }}</p>
    <p><strong>Цена:</strong> {{ product.selling_price }}</p>
    <p><strong>Склад:</strong> {{ warehouse.name }}</p>
    <form method="post" action="{% url 'sale_create' product.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Продать</button>
    </form>
</div>
{% endblock %}